@import url("https://fonts.googleapis.com/css2?family=Bagel+Fat+One&family=Jua&family=Moirai+One&family=Monomaniac+One&family=Nova+Square&display=swap");
* {
   color: black; 
   font-family: 돋음; 
   margin: 0 auto;
}
a {text-decoration: none;}