#c {
	color: red;
	color: #ff73ee;
	color: rgb(110, 163, 171);
	color: rgba(20, 12, 1, 0.2); /*a:투명도(0~1)*/
	color: hsl(210, 50%, 50%);	/*h:색상값(0~360), s:채도(0~100%), l:밝기(0~100%)*/
	color: hsla(210, 50%, 50%, 0.5);
}

#td1 {text-decoration: underline;}
#td2 {text-decoration: line-through;}
#td3 {text-decoration: overline;}
#td4 {text-decoration: none; color: black;}

#tt1 {text-transform: uppercase;}
#tt2 {text-transform: lowercase;}
#tt3 {text-transform: capitalize;}

.shadow {font-size: 50px; font-weight: 900;}
#ts1 {color: orangered;
		text-shadow: 5px 5px; /*번짐정도 생략시 기본적으로 선명한 그림자, 그림자 색상 생략시 글자의 색상 그대로*/
		text-shadow: -5px -5px 5px blue; 
}
#ts2 {
	color: white;
	text-shadow: 0 0 10px rgb(31, 190, 28);
}
#ts3 {
	color: white;
	text-shadow: 0 0 10px rgb(0, 0, 0);
}